// CM theme button styles
// ----------------------


.btn {
  

  @include transition(all 0.2s ease-in);
}

.btn-default {
  background-color: #FFF;
  color: #000;

  &:hover {
    background-color: $brand-primary;
    color: #FFF;
  }
}

